@tailwind base;
@tailwind components;
@tailwind utilities;
@font-face {
  font-family: "ThatsFontFolks";
  src: url("/fonts/ThatsFontFolks.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "ArialNarrow7";
  src: url("/fonts/ArialNarrow7.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap');
